.etap{
    margin-top: 50px;
   
    &__title{
        font-size: 48px;
        font-weight: 600;
    }
   
    .etap__body{
        width: 600px;
    }
    .etap__imgs{
        width: 400px;
       
    }
   
}
.etap__card{
    border: 3px solid #ddd5;
    padding: 20px 80px;
    transition: .5s;
    &:hover{
        border: 3px solid 
        #0B7572;
    }
    border-radius: 10px;
    display: flex;
    margin-top: 40px;
}
.card__title{
    font-weight: 600;
}
.card__text{
    color: 
    #6B6B6C;
}







@media ( max-width:1055px){
    .etap{
       &__imgs{
        display: none;
       }
    }
    .etap__card{
        padding: 20px 40px;
        }
}







@media ( max-width:440px){
    .etap__title{
        font-size: 32px;
        font-weight: 600;
    }
    .etap__card{
        margin-top: 20px;
        padding: 20px 10px;
        width: 100%;
        }
        .card__title{
            font-weight: 600;
            font-size: 16px;
        }
        .card__text{
            color: 
            #6B6B6C;
            font-size: 14px;
        }
}